<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Data Driven Frame">

	<listeners>
       <listener class-name="org.uncommons.reportng.HTMLReporter"/>
       <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
    
  <test  name="loginTest">
    <classes>
  
      <class name="testcases.loginTest"/>

    </classes>
  </test> <!-- Test -->
  
   <test  name="Add cust test">
    <classes>
  
      <class name="testcases.AddCustTest"/>

    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
